{% extends "music_app/basic.html" %}
{% block title %}All Songs{% endblock %}
{% block body %}
<h1 style="color: rgb(158, 60, 60); text-align: center;padding-top:2%">All Songs</h1>

<div class='container' style="padding-top:2%;">
{% for i in song %}
<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/media/{{ i.image }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style='color:green;font-weight:550;'>{{i.name}}</h5>
        <p class="card-text" >{{i.tags}}</p>
        <p class="card-text">{{i.singer}}</p>
         {% if user.is_authenticated %}
        <form action="/music_app/history" method="POST">{% csrf_token %}
          <input type="hidden" name="music_id" value="{{i.song_id}}">
        <a href="/music_app/songs/{{i.song_id}}"><button class='btn btn-outline-danger'>Listen Song</button></a>
        </form>
        {% else %}
        <a href="/music_app/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        {% endif %} 
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}